{% extends 'Admin/dash.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block content %}

<form method="post" enctype="multipart/form-data" style="margin-left:200px;margin-top:30px;width:450px;background-color:blue;color:white;">
<div style="margin-left:67px;">
 <br>

<h2>Teachers Registration</h2>
    <br>
    {% csrf_token %}
{{form|crispy}}
{{form1|crispy}}
<br>

 <div class="col-12">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>

<!--<div class="d-grid gap-2 d-md-flex justify-content-md-end">-->
<!--<button class="btn btn-primary me-md-2" type="Submit">Submit</button>-->
<!--</div>-->
<br><br>
 </div>
</form>


{% endblock %}
