{% extends 'admin/dash.html' %}
{% block content %}

<div class="col-lg-10">
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
        {{message}}
    </div>
    {% endfor %}

    <div class="col-lg-6 grid-margin stretch-card">
              <div class="card" style="width: 1000px;color:black;">
                <div class="card-body">
                  <h4 class="card-title">COMPLAINTS</h4>
                  <br><br>

                <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                           <th scope="col">SI No</th>
                           <th scope="col">Type</th>
                           <th scope="col">Username</th>
                           <th scope="col">Subject</th>
                           <th scope="col">Complaint</th>
                           <th scope="col">Date</th>
                           <th scope="col">Reply</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for i in complaint %}
                        <tr>
                          <th scope="row">{{forloop.counter}}</th>
                      <td>
                        {% if i.user.is_teacher == True %}
                        <p>Teacher</p>
                        {% elif i.user.is_student == True %}
                        <p>Student</p>
                        {% endif %}
                    </td>
                    <td>{{i.user}}</td>
                    <td>{{i.subject}}</td>
                    <td>{{i.complaint}}</td>
                    <td>{{i.date}}</td>
                    <td>
                        {% if i.reply == None %}
                        <a href="{% url 'reply_complaint' i.id %}">Reply Now</a>
                        {% else %}
                        {{i.reply}}
                        {% endif %}
                    </td>

                        </tr>
                       {% endfor %}


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
       </div>
















<!--<div class="col-lg-10">-->
<!--    {% for message in messages %}-->
<!--    <div class="alert alert-primary" role="alert">-->
<!--        {{message}}-->
<!--    </div>-->
<!--    {% endfor %}-->
<!--    <div class="card" style="width:1100px;color:black;">-->
<!--        <div class="card-header">-->
<!--            <strong class="card-title"> COMPLAINTS</strong>-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--            <table class="table table-striped">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th scope="col">SI No</th>-->
<!--                    <th scope="col">Type</th>-->
<!--                    <th scope="col">Username</th>-->
<!--                    <th scope="col">Subject</th>-->
<!--                    <th scope="col">Complaint</th>-->
<!--                    <th scope="col">Date</th>-->
<!--                    <th scope="col">Reply</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                {% for n in complaint %}-->
<!--                <tr>-->
<!--                    <th scope="row">{{forloop.counter}}</th>-->
<!--                    <td>-->
<!--                        {% if n.user.is_teacher == True %}-->
<!--                        <p>Teacher</p>-->
<!--                        {% elif n.user.is_student == True %}-->
<!--                        <p>Student</p>-->
<!--                        {% endif %}-->
<!--                    </td>-->
<!--                    <td>{{n.user}}</td>-->
<!--                    <td>{{n.subject}}</td>-->
<!--                    <td>{{n.complaint}}</td>-->
<!--                    <td>{{n.date}}</td>-->
<!--                    <td>-->
<!--                        {% if n.reply == None %}-->
<!--                        <a href="{% url 'reply_complaint' n.id %}">Reply Now</a>-->
<!--                        {% else %}-->
<!--                        {{n.reply}}-->
<!--                        {% endif %}-->
<!--                    </td>-->

<!--                </tr>-->
<!--                {% endfor %}-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

{% endblock %}